.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* ancho fijo */
  height: 100vh;
  background-color: #1D1D1D;
  border-right: 2px solid #C8A15D;
  overflow-y: auto;
  padding-top: 6rem; /* si hay Navbar encima */
  box-sizing: border-box;
  z-index: 100;
}


.sidebar-title {
  font-family: var(--font-title);
  color: var(--color-accent);
  margin-bottom: 15px;
  text-align: center;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: var(--radius);
  transition: all 0.2s ease;
}

.sidebar-list li:hover {
  background-color: var(--color-accent);
  color: var(--color-bg-dark);
}
