/* App.css */

/* Contenedor principal de toda la aplicación */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Layout principal y contenido */
.main-content {
  flex: 1; /* <-- ¡Esta es la clave! Hace que el contenido principal crezca y ocupe el espacio sobrante */
  background-color: var(--color-bg-dark);
  display: flex; /* Para que el contenido de la página también pueda estirarse */
  flex-direction: column; /* Para que el contenido de la página se apile verticalmente */
  
}

/* Aplica el padding solo cuando el Navbar está presente */
.main-content.with-navbar {
  padding-top: 70px;
}

/* Contenedor para la transición de página */
.page-transition-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}