/* index.css */

/* Variables globales */
:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-title: 'Playfair Display', serif;

  --color-bg-dark: #111111;
  --color-bg-medium: #1d1d1d;
  --color-bg-card: #2e2e2e;
  --color-text-light: #f9f9f9;
  --color-text-muted: #dddfe2;
  --color-accent: #c8a15d;
  --color-accent2: #8b2e2e;
  --color-grey: #666666;

  --radius: 8px;
}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-bg-medium);
  color: var(--color-text-light);
  overflow-x: hidden;
  scroll-behavior: smooth;
}