/* src/index.css */

/* === VARIABLES GLOBALES === */
:root {
  --color-bg-dark: #111111;
  --color-bg-grey: #3a3a3a;
  --color-bg-medium: #1D1D1D;
  --color-bg-card: #2E2E2E;
  --color-text-light: #F9F9F9;
  --color-text-muted: #DDDFE2;
  --color-accent: #C8A15D;
  --color-accent2: #8B2E2E;
  --color-grey: #666666;
  --radius: 8px;


  --gold: #C8A15D;
  --black: #000000;
  --muted-bg: #DEDFE1;
  --white: #FFFFFF;

  /* Sombras y radios */
  --card-shadow: 0 10px 22px 2px rgba(0, 0, 0, 0.25);
  --input-shadow: inset 0 0 10px -3px rgba(0, 0, 0, 0.25);
  --card-radius: 30px;
  --control-radius: 10px;
  --input-gap: 14px;

  /* Tamaño de titulo junto al logo "BellezApp" */
  --bs-navbar-brand-font-size: 24px;

  /* Tipografías */
  --font-title: "Playfair Display", serif;
  --font-cursive: "Beau Rivage", cursive;
  --font-body: "Open Sans", sans-serif;
}

/* === RESET GENERAL === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === BASE === */
html,
body,
#root {
  height: 100%;
  font-family: var(--font-body);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none !important;
}

/* === RESPONSIVE === */
@media (max-width: 900px) {
  .brand-sub-overlay {
    position: relative;
    right: 0;
    bottom: 0;
    display: block;
    transform: none;
    margin-top: 4px;
    font-size: 18px;
    text-align: center;
  }
}
